body {
  background: #252525;
}

.top-gif {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

#searched-for {
  flex-direction: column;
}
.contain {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 960px;
  height: 200px;
}

.header {
  color: white;
  font-size: 100px;
  text-align: center;
}

input[type="submit"] {
  color: #accfc4;
  text-shadow: 0px 0px 2px #3dd08c;
  font-size: 20px;
  text-align: center;
  background: #252525;
  outline: 0;
  margin: 0 auto;
  border: none;
  font-family: "Raleway", sans-serif;
}

.instructions {
  display: flex;
}
input[type="text"] {
  font-size: 80px;
  outline: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid rgb(29, 122, 94);
  background: #252525;
  color: #939997;
  width: 100%;
  text-shadow: 1px 1px 1px grey;
  font-family: "Raleway", sans-serif;
}
button {
  outline: none;
  color: teal;
  background-color: darkgrey;
  border-radius: 12px;
  box-shadow: 1px 1px 1px black;
  font-size: 15px;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
